{% extends 'base_examples.twig' %}

{% block data %}
    <h3>Список примеров</h3>
    <p>Здесь вы можете посмотреть различные примеры использования фреймворка. Список примеров со ссылками на них
        приведен в списке слева.</p>
{% endblock %}