{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h2>DM Framework</h2>
    <p>DM Framework (далее DMF) - это простой и быстрый PHP фреймворк, позаимствующий лучшие стороны ряда
        других фреймворков</p>
    <h4>Модульная архитектура</h4>
    <p>Фреймворк использует все преимущества новых версий PHP, поэтому он может работать лишь с версией не ниже 5.4.
        Ваше приложение может содержать в себе множество различных модулей, каждый из которых реализует отдельную часть приложения.
        Каждый модуль содержит собственные контроллеры, модели, формы и шаблоны.</p>
    <h4>Шаблонизация</h4>
    <p>Фреймворк использует встроенный шаблонизатор Twig, который полностью адаптирован для работы и не требует настроек.
        Все, что требуется от Вас - вызвать нужный метод в вашем действии и передать ему название шаблона и необходимые данные.
        Но это еще не все - Вы можете использовать отдельные типы родительских контроллеров, что позволит Вам еще больше
        упростить работу шаблонизатора. В данном случае Вам потребуется лишь отдавать действием массив данных, всю остальную работу
        фреймворк берет на себя.</p>
    <h4>Модели</h4>
    <p>Вы можете задать в вашей модели схему таблицы, которая требуется для реляционного представления данных данной модели.
        В этом случае фреймворк сможет помочь Вам в создании и управлении данной таблицей. Базовый комплект уже включает в себя
        большой набор разнообразных полей для ваших моделей. Более того - при необходимости Вы можете расширить список собственными полями,
        их создание не представляет из себя большой сложности.</p>
    <h4>Формы</h4>
    <p>Базовый комплект фреймворка включает в себя также все необходимое для работы с формами. Также, как и в случае
        с моделями - в комплекте с фреймворком есть большой список полей для создания вашей формы. И Вы также имеете все возможности
        для создания собственных полей, если стандартный список Вас не совсем устраивает. Обработку и валидацию полей по указанным Вами
        правилам фреймворк полностью берет на себя.</p>
    <h4>События</h4>
    <p>У Вас также имеется возможность работать с событийной моделью фреймворка. События позволяют Вам производить определенные
        действия при их наступлении. Например базовый комплект включает в себя события, вызываемые перед и после инициализации
        контроллера. При желании Вы можете придумать и разработать собственные события, а также вызывать их на разных ключевых этапах
        работы фреймворка.</p>
</div>
{% endblock %}