.idea/*
*.json

framework/packages/*
!.gitkeep

framework/config/config.local.php

framework/data/cache/templates/*
!.gitkeep

framework/data/cache/classes/*
!.gitkeep

framework/data/migrations/*
!.gitkeep

logs/*
!.gitkeep