.idea/*
*.json

application/*
!.gitkeep
!application/HelloWorld

framework/config/config.local.php

framework/data/cache/templates/*
!.gitkeep

framework/data/cache/classes/*
!.gitkeep

framework/data/migrations/*
!.gitkeep

framework/data/fixtures/*
!.gitkeep

logs/*
!.gitkeep

public/static/*
!.gitkeep