{% extends 'base.twig' %}

{% block title %}Страница отсутствует{% endblock %}

{% block content %}
<div class="alert alert-block alert-error" style="margin-top: 20px; text-align: center">
    Указанная страница отсутствует на сайте документации!
</div>
{% endblock %}