{% extends 'base.twig' %}

{% block title %}Установка фреймворка{% endblock %}

{% block content %}
    <h3>Установка фреймворка</h3>
    <p>Для корректной работы фреймворка вам потребуется PHP версии <strong>5.4</strong> или
        выше. Работа на более старших версиях интерпретатора невозможна в связи с активным использованием фреймворком
        технологий, взятых из новых версий интерпретатора.</p>
    <p>DMF поддерживает работу с веб-серверами Apache (тестировалось на версии 2.2 и выше), Nginx, а также связки,
        где Nginx выступает фронт-эндом для веб-сервера Apache. Работа на других веб-серверах возможна, но не
        проверялась. При работе с Nginx вам придется указать собственные правила для реврайта запросов в файл index.php,
        для работы с Apache вместе с репозиторием поставляется уже настроенный образец файла .htaccess.</p>
    <h4>Требуемые PHP модули</h4>
    <p>Для правильной работы фреймворка вам потребуется установить следующие модули:</p>
    <ol>
        <li><strong>php_pdo</strong>. Потребуется для возможности работы с базой данных.</li>
        <li><strong>php_mcrypt</strong>. Необходим для обеспечения работы криптографических возможностей фреймворка.
        </li>
        <li><strong>php_mbstring</strong>. Требуется для работы с мультибайтовыми кодировками.</li>
    </ol>
    <h4>Получение копии фреймворка</h4>
    <p>Для начала вам необходимо получить собственную копию репозитория с фреймворком. В настоящий момент DMF использует
        в качестве хостинга сервис <a href="https://github.com/">Github</a> и расположен в виде git репозитория.
        Вы можете получить свою копию фреймворка скачав архив с последней версией, либо склонировав репозиторий.</p>
    <h5>Скачивание репозитория в виде архива</h5>
    <p>Для скачивания репозитория последней версии в виде zip архива вы можете перейти по
        <a href="https://github.com/damirazo/DMF/archive/master.zip">данной ссылке</a>. Версия по указанной ссылке
        всегда актуальна и обновляется автоматически.</p>
    <h5>Клонирование репозитория</h5>
    <p>Для клонирования репозитория вам необходима программа для работы с git. Далее мы рассмотрим способ работы с
        консольной версией программы. Перейдите в требуемую директорию, где вы планируете развернуть репозиторий,
        клонируйте его и установите все зависимости в виде сабмодулей, которые связаны в фреймворком следующими
        командами.</p>
    <pre>cd /project/dir/<br>git clone git://github.com/damirazo/DMF.git<br>git submodule init<br>git submodule update</pre>
    <p>Пример команд для клонирования репозитория</p>
    <p><img src="{{ static_url }}images/doc/git-console.png" alt=""></p>
    <p>Затем вам следует дать полные права на запись и чтение папки framework/data пользователю фреймворка.</p>
    <pre>cd framework<br>chmod -R 0777 data</pre>
    <p><img src="{{ static_url }}images/doc/chmod-console.png" alt=""></p>
    <p>Далее необходимо дать доступ веб-серверу к папке public. Именно эта папка содержит точку входа - файл
        index.php, а также все статические файлы в подпапке с именем static. Для безопасности рекомендуется дать доступ
        лишь этой папке.</p>
    <p>Потом, после запуска веб-сервера, вы можете проверить корректность установки фреймворка, если перейдете по
        ссылке,
        на которой доступен ваш веб-сервер (например <a href="http://127.0.0.1/">127.0.0.1</a>)</p>
    <p>В случае корректной установки, а также если вы не меняли конфигурацию по умолчанию и не удаляли тестовое
        приложение -
        вы должны увидеть примерно следующую страницу:</p>
    <p><img src="{{ static_url }}/images/doc/demo.png" alt=""></p>
    <p>Если все работает, то вы можете переходить к следующему этапу - <a href="{{ base_url }}/doc/setup.html">настройке</a>.
    </p>
{% endblock %}