{% extends 'base.twig' %}

{% block title %}Структура модулей{% endblock %}

{% block content %}
    <h3>Структура модулей</h3>
    <p>Модуль представляет из себя обычную папку, внутри которой, в подпапках, находятся все его компоненты. Имейте
        ввиду, что все приведенные ниже имена папок регистрозависимы.</p>
    <p><strong>Контроллеры</strong> хранятся в папке <code>Controller</code></p>
    <p><strong>Модели</strong> хранятся в папке <code>Model</code></p>
    <p><strong>Формы</strong> хранятся в папке <code>Form</code></p>
    <p><strong>События</strong> хранятся в папке <code>Event</code></p>
    <p><strong>Шаблоны</strong> хранятся в папке <code>View</code></p>
    <p>Кроме того вы можете создать непосредственно в корневой папке модуля следующие файлы:</p>
    <ul>
        <li><strong>config.php</strong>, для хранения настроек модуля или переопределения системных настроек.
            Переопределение настроек носит локальный характер и доступно лишь в контексте данного модуля.
        </li>
        <li><strong>context.php</strong>, для хранения глобального шаблонного контекста. Любые переменные контекста,
            объявленные в данном файле будут иметь приоритет выше, чем глобальные системные настройки.
        </li>
        <li><strong>events.php</strong>, в данном файле объявляются "наблюдатели" событий.</li>
    </ul>

    <ul class="pager">
        <li class="previous"><a href="{{ base_url }}/doc/setup.html">&larr; Настройка фреймворка</a></li>
        <li class="next"><a href="{{ base_url }}/doc/module-create.html">Создание модуля &rarr;</a></li>
    </ul>
{% endblock %}