{% extends 'base.twig' %}

{% block title %}Настройка фреймворка{% endblock %}

{% block content %}
    <h3>Настройка фреймворка</h3>
    <p>Для загрузки и хранения списка настроек фреймворк использует класс <code>\DMF\Core\Storage\Config</code>,
        который является реализацией паттерна Registry.</p>
    <p>Работа со списком настроек происходит посредством нескольких встроенных методов, вот их список и описание:</p>
    <div>
        <p><code>Config::set(name, value)</code>, где <strong>name</strong> это имя параметра, а <strong>value</strong>
            его значение. Данный метод используется для создание нового элемента настроек и сохранения.</p>

        <p><code>Config::has(name)</code>, где <strong>name</strong> это имя параметра. Данный метод используется для
            проверки существования элемента настроек с указанным именем.</p>

        <p><code>Config::get(name, default=false)</code>, где <strong>name</strong> это имя параметра,
            <strong>default</strong> это значение, возвращаемое по умолчанию. Данный метод используется для возврата
            значения элемента настроек с заданным именем. Метод не возвращает ошибку, если элемента с указанным именем
            не существует, вместо этого он вернет значение <strong>default</strong>. Если вам необходимо точно проверить
            наличие элемента с нужным именем, то используйте метод <code>Config::has()</code> для проверки его
            существования.</p>

        <p><code>Config::remove(name)</code>, где <strong>name</strong> это имя параметра. Данный метод предназначен для
            удаления элемента настроек с нужным именем. Также, как и предыдущий метод, данный метод не сгенерирует
            ошибку
            если элемента с указанным именем не существует.</p>

        <p><code>Config::data()</code>. Данный метод возвращает все, определенные на момент вызова, элементы настроек в
            виде массива. Данный массив используется лишь для read only доступа, для изменения элементов настроек
            используйте методы, указанные выше.</p>
    </div>
    <p>По умолчанию загрузка настроек происходит из файла <code>framework/config/config.php</code>. Если вы хотите
        указать собственные настройки, то достаточно лишь создать файл config.php в папке своего модуля. Имейте ввиду,
        что
        настройки, указанные в вашем файле config.php будут иметь больший приоритет над общими настройками. Эту
        особенность
        можно использовать для их переопределения. Однако используйте данную возможность с осторожностью, так как
        это может повлиять на стабильность работы отдельных компонентов.</p>
    <h4>Список обязательных параметров</h4>
    <h5>Настройки, указанные ниже, используются некоторыми компонентами фреймворка и их удаление или изменение может
        повлиять на стабильность работы фреймворка.</h5>
{% endblock %}